/* index.css o cualquier archivo de estilos global */

body {
  font-family: 'Exo 2', sans-serif;
}

.gif-carga {
  animation: slowDown 30s ; /* Ajusta la duración de la animación según sea necesario */
}

@keyframes slowDown {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

